<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1 class="instagram-header">Instagram</h1>
    </header>
        <br> <br>
        <a class="new-button" href="/new">Create New Post</a>
        <br><br> <br>
  
    <div class="container">
        <% posts.forEach(post => { %>
            <div class="post-container">
                <h3>@<%= post.username %></h3>
                <img src="<%= post.img %>" alt="img">
                <p><%= post.caption %></p>
                <div class="post-buttons">
                    <a class="view-post" href="/<%= post.id %>">View Post</a>
                    <a class="edit-post" href="/<%= post.id %>/edit">Edit</a>
                    <form method="post" action="/<%= post.id %>?_method=DELETE">
                        <button class="delete-post">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>
